
body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #dbdbdb;
    color: #fff;
    padding: 3px;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
}

footer {
    background: #dbdbdb;
    color: #fff;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

p {
    font-size: 1.1rem;
    text-align: justify;
}

nav {
    height: 100%;
    vertical-align: middle;
    width: 100%;
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
    float: inline-start;
}

.text {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    line-height: 1.8;
}

.card {
    background-color: #323232;
    color: white;
    border-radius: 15px;
    margin: 0 auto;
    border: solid 2px #212529;
    display: block;
    line-height: 2rem;
    text-align: center;
    max-width: 25vw;
}

.card-header {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card-header-text {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}

.card-header-img {
    width: 30px;
    height: 30px;
}

.card-content {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.sub-card {
    background-color: lightgrey;
    padding: 15px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    color: black;
}

.add {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add:hover {
    background-color: darkgrey;
    color: white;
    content: 'Ajouter un devoir...';
}

.homework-text {
    max-width: 50vw;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    line-height: 1.8;
}

.homework-text button {
    background-color: #1f883d;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    max-width: 50vw;
}

.homework-text button:hover {
    background-color: #155f2a;
    color: white;
}