
body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #222222;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
    height: 44px;
}

footer {
    background: #222222;
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px;
    height: 30px;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    text-align: justify;
    max-width: 50vw;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.8;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.card {
    background-color: #323232;
    color: white;
    border-radius: 15px;
    margin: 20px;
    border: solid 2px #212529;
    line-height: 2rem;
    text-align: center;
    max-width: 40vw;
    display: inline-block;
}

.card-header {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card-header-text {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}

.card-header-img {
    width: 30px;
    height: 30px;
}

.card-content {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.sub-card {
    background-color: lightgrey;
    padding: 15px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    color: black;
}

.add {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homework-text {
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    line-height: 1.5;
    max-width: 50vw;
}

#add-button, #edit-button, #delete-button {
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    height: 50px;
    display: flex;
    padding: 10px;
    margin: 0.5em;
}

#add-button:hover {
    background-color: #3e9723;
    font-weight: bold;
}

#edit-button:hover {
    background-color: #9fa812;
    font-weight: bold;
}

#delete-button:hover {
    background-color: #a01515;
    font-weight: bold;
}

a:hover {
    color: lightgray;
    text-decoration: underline;
}

.add:hover {
    background-color: #f4f4f4;
    color: white;
}

.sub-card:hover {
    background-color: #f4f4f4;
    color: black;
}
